<!DOCTYPE html>
<html>
<head>

	<h1>Cadastro de Usuários</h1>

</head>
<body style="background-color: burlywood">
  
  <div class="fotoX">
		<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTGlAAzZHAK5MTGjyTTP5KBAdJJ3IX7flMDz7H9NNqZISzcN-5p" 
			width="400"
			height="300"
			alt="Sebo OnlineX" 
			title="Sebo OnlineX"/>
  </div> 

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

  <div class="field"><%= f.label :name,"Nome" %>
  <%= f.text_field :name %></div><br />
     
  <div class="field"><%= f.label :email,"E-mail" %>
  <%= f.text_field :email %></div><br />

  <div class="field"><%= f.label :login,"Login" %>
  <%= f.text_field :login %></div><br />

  <div class="field"><%= f.label :password,"Senha" %>
  <%= f.password_field :password %></div><br />

  <div class="field"><%= f.label :password_confirmation,"Confirme a senha" %>
  <%= f.password_field :password_confirmation %></div><br />

  <div><%= f.submit "Cadastrar" %></div><br />
  
<% end %>


</body>
</html>
