<h1>Listing usersbooks</h1>

<table>
  <tr>
    <th>Users</th>
    <th>Books</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usersbooks.each do |usersbook| %>
  <tr>
    <td><%= usersbook.users_id %></td>
    <td><%= usersbook.books_id %></td>
    <td><%= usersbook.value %></td>
    <td><%= link_to 'Show', usersbook %></td>
    <td><%= link_to 'Edit', edit_usersbook_path(usersbook) %></td>
    <td><%= link_to 'Destroy', usersbook, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Usersbook', new_usersbook_path %>
