<h1>Visualização de Livro de Usuário</h1>

  <div class="fotoX">
		<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTVsY4G4Qv7AGWwG3QZYHf4hPgGN262h_pek42BftDtOa_Yhob9Wyyb6qihtQ" 
			width="250"
			height="200"
			alt="Sebo OnlineX" 
			title="Sebo OnlineX"/>
  </div> 

<div id="notice"><%= notice %></div>

<b/><b/>
<div id="label1">
  <b>Usuário:</b>
  <%= @usersbook.users_id %>
</div>

<b/><b/>
<div id="label2">
  <b>Livro:</b>
  <%= @usersbook.books_id %>
</div>

<b/><b/>
<div id="label1">
  <b>Valor:</b>
  <%= @usersbook.value %>
</div>


<p id="botao"><%= link_to 'Editar', edit_usersbook_path(@usersbook) %> </p>
<p id="botao"><%= link_to 'Voltar', usersbooks_path %></p>
