<p id="notice"><%= notice %></p>

<p>
  <b>Usuário:</b>
  <%= @usersbook.users_id %>
</p>

<p>
  <b>Livro:</b>
  <%= @usersbook.books_id %>
</p>

<p>
  <b>Valor:</b>
  <%= @usersbook.value %>
</p>


<p><%= link_to 'Editar', edit_usersbook_path(@usersbook) %> </p>
<p><%= link_to 'Voltar', usersbooks_path %></p>
