<h1>Usuários Cadastrados</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>E-mail</th>
    <th>Login</th>
    <th>Ações</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.login %></td>
    <td><%= link_to 'Ver', user %>
    <%= link_to 'Editar', edit_user_path(user) %>
    <%= link_to 'Destruir', user, confirm: 'Tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<p id="botao"><%= link_to 'Novo Usuário', new_user_path %></p>
<p id="botao"><%= link_to "Capa", root_path %></p>
