<div id="notice"><%= notice %></div>

<div>
  <b>Nome:</b>
  <%= @user.name %>
</div>

<div>
  <b>E-mail:</b>
  <%= @user.email %>
</div>

<div>
  <b>Login:</b>
  <%= @user.login %>
</div>

<div>
  <b>Senha:</b>
  <%= @user.password %>
</div>


<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
