<%= form_for(@users_exchange) do |f| %>
  <% if @users_exchange.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@users_exchange.errors.count, "error") %> prohibited this users_exchange from being saved:</h2>

      <ul>
      <% @users_exchange.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuário1 %><br />
    <%= f.collection_select(:users_id_1, User.all, :id, :login) %>
  </div>
  <div class="field">
    <%= f.label :usuário2 %><br />
    <%= f.collection_select(:users_id_2, User.all, :id, :login) %>
  </div>
  <div class="field">
    <%= f.label :título1 %><br />
    <%= f.collection_select(:books_id_1, Book.all, :id, :title) %>
  </div>
  <div class="field">
    <%= f.label :título2 %><br />
    <%= f.collection_select(:books_id_2, Book.all, :id, :title) %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
