<h1>Listing users_exchanges</h1>

<table>
  <tr>
    <th>Users id 1</th>
    <th>Users id 2</th>
    <th>Integer</th>
    <th>Books id 1</th>
    <th>Books id 2</th>
    <th>Integer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users_exchanges.each do |users_exchange| %>
  <tr>
    <td><%= users_exchange.users_id_1 %></td>
    <td><%= users_exchange.users_id_2 %></td>
    <td><%= users_exchange.integer %></td>
    <td><%= users_exchange.books_id_1 %></td>
    <td><%= users_exchange.books_id_2 %></td>
    <td><%= users_exchange.integer %></td>
    <td><%= link_to 'Show', users_exchange %></td>
    <td><%= link_to 'Edit', edit_users_exchange_path(users_exchange) %></td>
    <td><%= link_to 'Destroy', users_exchange, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Users exchange', new_users_exchange_path %>
