<h1>Trocas de Livros Registradas</h1>

<table>
  <tr>
    <th>Usuário1</th>
    <th>Usuário2</th>
    <th>Livro1</th>
    <th>Livro2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users_exchanges.each do |users_exchange| %>
  <tr>
    <td><%= users_exchange.users_id_1 %></td>
    <td><%= users_exchange.users_id_2 %></td>
    <td><%= users_exchange.integer %></td>
    <td><%= users_exchange.books_id_1 %></td>
    <td><%= users_exchange.books_id_2 %></td>
    <td><%= users_exchange.integer %></td>
    <td><%= link_to 'Ver', users_exchange %></td>
    <td><%= link_to 'Editar', edit_users_exchange_path(users_exchange) %></td>
    <td><%= link_to 'Deletar', users_exchange, confirm: 'Tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Troca de Livro', new_users_exchange_path %>
<p><%= link_to "Capa", root_path %></p>
<p><%= link_to "Usuários", users_path %></p>
<p><%= link_to "Livros", books_path %></p>
