<p id="notice"><%= notice %></p>

<p>
  <b>ID Usuário 1:</b>
  <%= @users_exchange.users_id_1 %>
</p>

<p>
  <b>ID Usuário 2:</b>
  <%= @users_exchange.users_id_2 %>
</p>

<p>
  <b>ID Livro 1:</b>
  <%= @users_exchange.books_id_1 %>
</p>

<p>
  <b>ID Livro 2:</b>
  <%= @users_exchange.books_id_2 %>
</p>


<%= link_to 'Editar', edit_users_exchange_path(@users_exchange) %> |
<%= link_to 'Voltar', users_exchanges_path %>
