<p id="notice"><%= notice %></p>

<p>
  <b>Users id 1:</b>
  <%= @users_exchange.users_id_1 %>
</p>

<p>
  <b>Users id 2:</b>
  <%= @users_exchange.users_id_2 %>
</p>

<p>
  <b>Integer:</b>
  <%= @users_exchange.integer %>
</p>

<p>
  <b>Books id 1:</b>
  <%= @users_exchange.books_id_1 %>
</p>

<p>
  <b>Books id 2:</b>
  <%= @users_exchange.books_id_2 %>
</p>

<p>
  <b>Integer:</b>
  <%= @users_exchange.integer %>
</p>


<%= link_to 'Edit', edit_users_exchange_path(@users_exchange) %> |
<%= link_to 'Back', users_exchanges_path %>
