<h1>Livros Cadastrados</h1>

<table>
  <tr>
    <th>ISBN</th>
    <th>Título</th>
    <th>Autor</th>
    <th>Ações</th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= book.isbn %></td>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= link_to 'Ver', book %>
    <%= link_to 'Editar', edit_book_path(book) %>
    <%= link_to 'Destruir', book, confirm: 'Tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p><%= link_to 'Novo Livro', new_book_path %></p>
<p><%= link_to "Capa", root_path %></p>
