<h1>Visualização de Livro</h1>

  <div class="fotoX">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuWxfxVmqvOzpXjeBgRcvd1PoWGrhOahgVW59E13bbgEl8YzEkKQ" 
			width="250"
			height="200"
			alt="Sebo OnlineX" 
			title="Sebo OnlineX"/>
  </div> 

<div id="notice"><%= notice %></div>

<b/><b/>
<div id="label1">
  <b>ISBN:</b>
  <%= @book.isbn %>
</div>

<b/><b/>
<div id="label2">
  <b>Título:</b>
  <%= @book.title %>
</div>

<b/><b/>
<div id="label1">
  <b>Autor:</b>
  <%= @book.author %>
</div>


<p id="botao"><%= link_to 'Editar', edit_book_path(@book) %> </p>
<p id="botao"><%= link_to 'Voltar', books_path %></p>
