<p id="notice"><%= notice %></p>

<p>
  <b>ISBN:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Titulo:</b>
  <%= @book.title %>
</p>

<p>
  <b>Autor:</b>
  <%= @book.author %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
