<p id="notice"><%= notice %></p>

<p>
  <b>ISBN:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Título:</b>
  <%= @book.title %>
</p>

<p>
  <b>Autor:</b>
  <%= @book.author %>
</p>


<%= link_to 'Editar', edit_book_path(@book) %> |
<%= link_to 'Voltar', books_path %>
