<!DOCTYPE html>
<html>
<head>
  <title>Sebo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body style="background-color: burlywood">
    <nav>
      <% if user_signed_in? %>
		<% if section id="main"%>
			Seja bem vindo <%= current_user.name %>!
		<% end %>
        <%= link_to "Sair", destroy_user_session_path, :method => :delete %>
      <% else %>
        <p id="link"><%= link_to "Nao possui uma conta?", new_user_registration_path %></p>
		<p id="link"><%= link_to "Entrar", new_user_session_path %></p>
      <% end %>
    </nav>
   <section id="main">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <div><%= message %></div>
          </div>
        <% end -%>
      </div>
      <%= yield %>
    </section>

</body>
</html>
